@font-face {
    font-family: HalloSans;
    src: url(../fonts/HalloSans.otf) format('truetype');
}


body {
	background-color: background: #eacda3; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #eacda3 , #d6ae7b);
	height: 100%;
	width: 100%;
	color: #351431; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#hr {
	
	border: 1px solid #351431;
	width: 25%;
}

#title {
	letter-spacing: 0.3em;
	color: #351431;
	padding-top: 2%;
	font-family: 'HalloSans';
	font-size: 3em;
	text-transform: uppercase;
}

#subtitle {
	letter-spacing: 0.1em;
	padding-top: 1%;
	color: #351431;
	font-family: 'HalloSans';
	font-size: 2em;
	text-transform: uppercase;
}



#butdiv {
	padding-top: 5%;
}

#container {
	padding-top: 10%;
	font-family: 'HalloSans';
	font-style: italic;
	font-size: 1.4em;
}

#button {
	background-color: transparent;
	border-color: transparent;
	color: black;
	font-family: 'HalloSans';
	font-size: 2em;
	outline: none;
}

#tweet {
	background-color: transparent;
	border-color: transparent;
	color: black;
	font-family: 'HalloSans';
	font-size: 1.4em;
	outline: none;
	letter-spacing: 0.1em;
}

#footer {
  padding-top: 15%;
  color: black;
  font-family: "HalloSans";
  text-decoration: none;
  outline: none; 
  font-size: 1.3em;
  letter-spacing: 0.1em;
}